* {
  margin: 0px 5px;
  padding: 2px 0 0;
  text-decoration: none;
}

#side_bar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgb(121, 121, 183);
  left: -207px;
  transition: all 500ms linear;
  border-radius: 21px;
  margin: 3px;
}

#side_bar.active {
  left: 0px;
}

#side_bar ul li {
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 19px;
  list-style: none;
  padding: 15px 10px;
}

#side_bar .btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#side_bar .btn span {
  text-align: center;
  font-size: 30px;
  border: 3px solid transparent;
  display: block;
  width: 40px;
  text-decoration: none;
}

.side_bar ul li a {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}
